<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>
	</head>
	<body>
    <header>
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class='active' href="/">Users</a></li>
          |
          <li class="main-header__item"><a href="/user-form">User Form</a></li>
        </ul>
      </nav>
    </header>
    <h3>Users</h3>
    <main>
      <% if (users.length > 0) { %>
        <% for (user of users) { %>
          <ul>
            <li><%= user.username %></li>
          </ul>
        <% } %>
      <% } else {%>
        No users to show
      <% } %>
    </main>
  </body>
</html>
