<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li class="main-header__item"><a href="/">Home Page</a></li>
					<li class="main-header__item">
						<a href="/admin/users">Users Page</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<div>
				<h2>Users</h2>
			</div>
			<div>
				<ul>
					<li>User-1</li>
          <li>User-1</li>
				</ul>
			</div>
		</main>
	</body>
</html>
